<form #personaForm="ngForm">
    <div class="mb-3">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input required type="text" class="form-control" id="inputNombre" name="nombre"
            [(ngModel)]="persona.nombre"
            #nombre="ngModel"
            [class.invalido]="nombre.touched && nombre.invalid">
    </div>
    <div class="mb-3">
        <label for="inputApellisdo" class="form-label">Apellido</label>
        <input required type="text" class="form-control" id="inputApellido" name="apellido"
            [(ngModel)]="persona.apellido"
            #apellido="ngModel">
        <div *ngIf="apellido.touched && apellido.invalid" class="alert alert-danger" role="alert">
            Apellido es requerido
        </div>
    </div>
    <div class="mb-3">
        <label for="inputEdad" class="form-label">Edad</label>
        <input type="number" class="form-control" id="inputEdad" name="edad"
        [(ngModel)]="persona.edad">
    </div>
    <div class="mb-3">
      <label for="selectPais" class="form-label">Pais</label>
      <select id="selectPais" class="form-select" name="pais" [(ngModel)]="persona.paisId">
        <option *ngFor="let pais of paises" [value]="pais.id">{{ pais.nombre }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
</form>
